<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.wellbeings.anatome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".Preamble"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainScroll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Section"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookingSystem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestLayout"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Loading"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Settings"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
